<div class="jumbotron center">
  <h1> <%= @setting.title %> </h1>
  <h2> <%= @setting.sub_title %> </h2>
  <p><%= @setting.description %> </p>
  <p> <%= link_to "http://www.imdb.com/name/nm0074323/", target: '_blank' do %>
    <%= image_tag 'imdb.png', width: 60, height: 30 %>
    <% end %>
</div>
