<div class="jumbotron center">
  <%= current_setting.title.html_safe %>
  <%= current_setting.sub_title.html_safe %>
  <p><%= current_setting.description.html_safe %> </p>
  <p> <%= link_to "http://www.imdb.com/name/nm0074323/", target: '_blank' do %>
    <%= image_tag 'imdb.png', width: 60, height: 30 %>
    <% end %>
</div>
