<%= tinymce %>

<%= render 'home' %>

<h2 class='text-center'> <%= link_to '(some of) what we do', castings_path, class: 'white' %> </h2>
<div class="row">
  <div class="col-xs-6">
    <h2 class='text-center'>Ads, Spots & Shorts</h2>
    <div class="embed-responsive embed-responsive-4by3">
      <%= render 'castings/castings_ads', castings: @castings_ads %>
    </div>
  </div>
  <div class="col-xs-6">
    <h2 class='text-center'>Cinema/TV Films & Series</h2>
    <div class="embed-responsive embed-responsive-4by3">
      <%= render 'castings/castings_cinemas', castings: @castings_cinemas %>
    </div>
  </div>
</div>

<div class="text-center">
  <%= link_to 'See more castings', castings_path, class: 'red' %>
</div>

<h2 class='text-center'> <%= link_to 'The French Friends', partners_path, class: 'white' %> </h2>
<div id="partners" class="transitions-enabled">
  <%= render @partners %>
</div>

<div class="text-center">
  <%= link_to 'See more friends', partners_path, class: 'red' %>
</div>

<%= render "layouts/footer" %>
