<%= render 'home' %>

<h2 class='text-center'> <%= link_to 'Some of what we do', castings_path %> </h2>
<div id="pins" class="transitions-enabled">
  <%= render @pins %>
</div>

<div class="text-center">
  <%= link_to 'See more castings', castings_path %>
</div>

<h2 class='text-center'> <%= link_to 'The French Friends', partners_path %> </h2>
<div id="partners" class="transitions-enabled">
  <%= render @partners %>
</div>

<div class="text-center">
  <%= link_to 'See more friends', partners_path %>
</div>
