<%= render 'home' %>

<h2 class='text-center'>Castings</h2>
<div id="pins" class="transitions-enabled">
  <%= render @pins %>
</div>
<%= link_to 'See more castings', pins_path %>

<h2 class='text-center'>The French Brit Likes </h2>
<div id="partners" class="transitions-enabled">
  <%= render @partners %>
</div>
<%= link_to 'See more friends', partners_path %>
