<div class="img">
  <%= image_tag 'background_studio.jpg' %>

  <div class="background">
    <div class="container">
      <div class="row top">
        <div class="col-md-5">
          <%= image_tag 'studio2.jpg', height: '610' %>
        </div>
        <div class="col-md-7">
          <%= simple_format(current_setting.studio_description.html_safe, class: 'white') %>
        </div>
      </div>

      <div class="row top">
        <div class="col-md-5">
          <%= image_tag 'studio3.jpg', width: '610',height: '489.375' %>
        </div>
        <div class="col-md-7">
          <%= image_tag 'studio1.jpg' %>
        </div>
      </div>

      <div class="row top">
        <div class="col-md-12">
          <%= image_tag 'studio4.jpg', width: '1170', height: '610' %>
        </div>
      </div>

    </div>
  </div>

</div>
