<%= semantic_form_for @pin, :html => { :multipart => true } do |f| %>
  <%= f.semantic_errors %>

  <%= f.inputs do %>
    <%= f.input :title %>
    <%= f.input :description, input_html: {rows: 3, cols: 3} %>
    <%= f.input :link, input_html: {placeholder: 'http://thefrenchbrit.com'} %>
    <%= f.input :media_type, as: :select, collection: [['Video', 'video'], ['Image', 'image']], include_blank: false %>
    <%= f.input :video_provider, as: :select, collection: [['Youtube', 'youtube'], ['Vimeo', 'vimdeo'], ['Canalplus', 'canalplus'], ['Dailymotion', 'dailymotion']], include_blank: false %>
    <%= f.input :video_reference, input_html: {placeholder: 'https://www.youtube.com/embed/BfS5Rp2Lr9I'} %>
    <%= f.input :priority, input_html: {value: Pin.count } %>
    <%= f.input :avatar %>

  <% end %>

  <div class="row text-center">
    <%= f.actions do %>
      <%= f.submit 'Submit', class: 'btn btn-lg btn-primary' %>
    <% end %>
  </div>


<% end %>
