  <% if pin.is_video? %>
  <div class="box panel panel-default" style='width: 560px;'>
    <iframe width="560" height="315" class="embed-responsive-item" src= <%= pin.video_reference %> ></iframe>
  <% else %>
  <div class="box panel panel-default">
    <div class="text-center"><%= image_tag pin.avatar.url(:medium) %></div>
  <% end %>
  <div class="panel-body">
    <p class='text-center'>
        <%= link_to pin.title, pin %>
    </p>

    <% if current_user && pin.user == current_user %>
      <div class="actions">
        <%= link_to edit_pin_path(pin) do %>
          <span class="glyphicon glyphicon-edit"></span>
          Edit
        <% end %>
        <%= link_to pin, method: :delete, data: { confirm: 'Are you sure?' } do %>
          <span class="glyphicon glyphicon-trash"></span>
          Delete
        <% end %>
      </div>
    <% end %>
  </div>
</div>
