<div class="embed-responsive embed-responsive-4by3 top">
  <iframe width="560" height="315" class="embed-responsive-item" src= <%= casting.video_reference %> ></iframe>
    <div class="box panel panel-default">
      <div class="text-center"><%= image_tag casting.avatar.url(:medium) if casting.avatar.exists? %></div>
    <div class="panel-body">
      <p class='text-center'>
          <%= link_to casting.title, casting %>
      </p>

      <% if current_user %>
        <div class="actions">
          <%= link_to edit_casting_path(casting) do %>
            <span></span>
            Edit
          <% end %>
          <%= link_to casting, method: :delete, data: { confirm: 'Are you sure?' } do %>
            <span></span>
            Delete
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
