<h1 class='text-center'>Contacts</h1>

<table class="table table-striped">
  <tr>
    <td>
      Name
    </td>
    <td>
      Email
    </td>
    <td>
      Phone
    </td>
    <td>
      Message
    </td>

    <td>
      Send at
    </td>

    <td>
      Actions
    </td>
  </tr>
  <% @contacts.each do |contact| %>
    <tr>
      <td>
        <%= contact.name %>
      </td>
      <td>
        <%= contact.email %>
      </td>
      <td>
        <%= contact.phone %>
      </td>
      <td>
        <%= contact.message.truncate(50) %>
      </td>

      <td>
        <%= l contact.created_at %>
      </td>

      <td>
        <%= link_to 'Show', contact_path(contact) %>
      </td>
    </tr>
  <% end %>
</table>
