<!DOCTYPE html>
<html>
<head>

  <%= meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

  <%= render "layouts/header" %>
  <% flash.each do |key, value| %>
    <h3 class="text-center"><%= content_tag(:div, value, class: "alert alert-#{key}") %></h3>
  <% end %>
  <div class="container">
    <%= yield %>
  </div>


  <%= debug(params) if Rails.env.development? %>
</body>
</html>
